<div class="well">
	<form [formGroup]="form"
		  novalidate
		  (ngSubmit)="submit()" [ngClass]="{'has-error': form.invalid && form.dirty, 'has-success': form.valid && form.dirty}">
		<h2>Enter a zipcode</h2>
		<div class="form-group">
			<label for="zipcode">Zipcode</label>
			<input type="text"
				   id="zipcode"
				   formControlName="zipcode"
				   placeholder="Zipcode"
				   class="form-control"></div>
		<p class="message invalid-feedback">
			<ng-container *ngIf="form.controls.zipcode.errors as errors">
				{{ errors | formErrorsMessage}}
			</ng-container>
		</p>
		<br>
		<button type="submit"
				[disabled]="form.disabled || form.invalid || form.pristine"
				class="btn btn-primary">
			Add location
		</button>
	</form>
</div>
