<div class="container-fluid">
	<div *ngIf="message()"
		 class="alert alert-danger message">
		{{message()}}
	</div>

	<app-zipcode-entry (addLocation)="addLocation($event)"></app-zipcode-entry>

	<ng-container *ngIf="conditions() as conditions">
		<app-tabs *ngIf="conditions?.length else noData"
				  (close)="removeLocation($event)">
			<app-tab-panel *ngFor="let condition of conditions; let i = index; trackBy: trackConditions"
						   [header]="condition | conditionTabLabel">
				<app-condition-card [condition]="condition" (click)="navigate($event, condition.zipcode)">
					<p>
						<a [routerLink]="['/forecast', condition.zipcode]">
							Show 5-day forecast for {{condition.name}}</a>
					</p>
				</app-condition-card>
			</app-tab-panel>
		</app-tabs>
	</ng-container>

	<ng-template #noData>
		<div class="alert alert-info">
			No conditions loaded, please enter an US zip code
		</div>
	</ng-template>
</div>


